.container {
  height: 100vh;
}

/* Tablet */
@media (max-width: 820px) {
  .container {
    background-color: rgb(0, 0, 255);
  }
}

/* Mobile */
@media (max-width: 414px) {
  .container {
    background-color: red;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
